apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: crypto-payments-data
  labels:
    app: crypto-payments
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
